/* Блок под flex */
.flex-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    max-width: 100%;
    margin: auto;
}

/* Flex-1(Картинки) */
.flex-block__flex-img {
    justify-content: space-around;
    margin: 30px 10px 0px 10px;
    flex: 1;
}
/* Flex-3(Заголовки) */
.flex-block__flex-h3 {
    display: flex;
    /*width: 80%;*/
    justify-content: space-around;
    margin: 0px 10px 10px 10px;
}

/* Flex-2(Описание) */
.flex-block__flex-p {
    display: flex;
    justify-content: space-around;
    margin: 0px 10px 10px 10px;
}

/*Картинки в блоке Flex-1 */
.img {
    width: 100%;
    transition: transform .2s;
    border-radius: 10px;
}

/* Анимация при наведении на ссылку/картинку */
.img:hover {
    transform: scale(1.2);
}

/* Настройка блока Flex-3 */
.p {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background: linen;
}

/* Настройка блока Flex-3 c описание */
.h3 {
    margin: 0 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background: #CD853F;
}

/* Контейнер под Grid, ДЗ от 02.02.2022  */
.grig-block {
    max-width: 90%;
    margin: auto;
}

/* Блок Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
}

/* Анимация картинок/ссылок при наведений */
.img-2:hover {
    transform: scale(1.1);
}

/* Настройка описания в блоке Grid */
.p-2 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background: linen;
    margin: 0 10px 20px 10px;
}

/* Настройка заголовков в Grid */
.h3-2 {
    margin: 0 10%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background: #CD853F;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .flex-block {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 600px) and (max-width: 940px) {
    .flex-block {
        grid-template-columns: 1fr 1fr;
    }
}