body {
    background: #DEB887;
}

.container {
    max-width: 90%;
    margin: auto;
}

/*стиль блоков*/
.block {
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1px;
}

/*Шапка сайта*/
.cap {
    display: flex;
    border-radius: 10px;
    background: #CD853F;
    height: 100px;
}

/*Логотип*/
.logo {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    transition: transform .2s;
}
.logo:hover {
    transform: scale(1.1);
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
}

/*Фото*/
.foto {
    grid-column: 1 / 2;
    width: 100%;
    /*height: 200px;*/
    border-radius: 10px;
    /*box-sizing: border-box;*/
    border: 1px solid black;
}

/*Блок ФИО*/
.fio {
    grid-column: 1 / 6;
    width: 100%;
    background: #FFE4B5;
}

/*Текст в блоке ФИО*/
.fio_text {
    font-size: 30px;
    margin: 0;
    padding: 8px 50px;
    text-align: center;

}

/*Блок о себе*/
.info {
    /*float: left;*/
    width: 100%;
    /*width: calc(100%*0.4);*/
    /*height: 200px;*/
    background: #98FB98;
    grid-column: 2 / 4;
}

/*Блок отзыв*/
.reviev {
    width: 100%;
    background: #87CEEB;
    grid-column-start: 4;
    grid-column-end:6 ;
}

/*Блок контакты*/
.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #CD853F;
    width: 100%;
    grid-column-start: 1;
    grid-column-end:6 ;
}

/*Текст в блоке "Отзыв"*/
.text {
    margin: 0;
    padding: 10px 20px;
}

/* Заголовки в блоках "о себе" и "отзыв" */
.header {
    text-align: center;
    margin: 0;
}

/*Связаться со мной:*/
.con {
    float: left;
    width: 100%;
    margin: 1%;
}

/*>Д.З на GitHub*/
.rep {
    text-align: right;
    /*float: right;*/
    width: 100%;
    margin: 1% ;
    box-sizing: border-box;
    padding: 0 10px 0 0 ;
}

/* Картинка Telegram */
.logo_telegram {
    width: 50px;
    float: left;
    margin: 5px 10px 5px 10px;
}

/* Картинка Github */
.logo_github {
    width: 50px;
    float: right;
    margin: 5px 10px 5px 10px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    background: #CD853F;
    height: 100px;
}


@media screen and (max-width: 600px) {
    .cap {
        height: 50px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .foto {
        grid-column-start: 1;
        grid-column-end:3 ;
    }
    .info {
        grid-column-start: 3;
        grid-column-end:6 ;
    }
    .reviev {
        grid-column-start: 1;
        grid-column-end:6;
    }
    .contacts {
        grid-column-start: 1;
        grid-column-end:6;
    }
}

@media screen and (max-width: 320px){
    .footer {
        grid-template-columns: 1fr;
    }
    .foto {
        grid-column-start: 2;
        grid-column-end:5 ;
    }
    .info {
        grid-column-start: 1;
        grid-column-end:6 ;
    }
    .reviev {
        grid-column-start: 1;
        grid-column-end:6;
    }
    .contacts {
        grid-column-start: 1;
        grid-column-end:6;
    }
}

